body { text-align:center; width:72%; margin:auto; }
footer, section { margin-top:20px; }
content, .strava { width:100%; display:block; overflow:hidden; }
content { margin:auto; width:300px; }
.strava#recentActivities { margin-bottom:-25px; }
.strava#thisWeek { margin-bottom:-22px; }